{% extends "base.html" %}
{% load static %}
{% block metadescription %}
わやわやガチャ - ガチャ
{% endblock %}
{% block title %}
わやわやガチャ - ガチャ画面
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col side-area">

        </div>

        <div class="col main-area">
            <div class="gacha-result">
                <div class="item-card">
                    <h2 class="menu-name">殿の唐揚げ</h2>
                    <p>400円</p>
                </div>
            </div>
            <div class="gacha-container">
                テスト
                <form class="row g-3" action="{% url 'gacha:gacha' %}" method="get">
                    {% csrf_token %}
                    <div class="col-auto">
                        <input class="form-control" type="number" aria-label="budget" name="budget">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">ガチャを回す</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col side-area">

        </div>
    </div>
</div>







{% endblock %}